@charset "UTF-8";

/*Fontes importadas*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: hsl(31, 55%, 85%)
}

main{
    height: 100vh;
}

section{
    width: 400px;
    height: 700px;
    border-radius: 20px;
    background-color: white;

    /*Centralização vertical, configura a posição da section*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#mobili{display: block;}/*Abilita tamanho de imagem para mobili*/
#pc{display: none;}/*Desabilida tamanho de imagem para pc*/
img{
    width: 400px;
    height: 250px;
    border-radius: 20px 20px 0px 0px;
}

h1{
    padding: 20px 20px;
    color: gray;

    /*Configuração da font*/
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1em;
    letter-spacing: 7px;
    text-transform: uppercase;
}

h2{
    margin: auto;
    padding: 0px 20px;

    /*Configuração da font*/
    font-family: 'Fraunces';
    font-weight: bolder;
    font-size: 2.5em;
}

p{
    color: gray;
    padding: 20px;

     /*Configuração da font*/
    font-family: 'Montserrat';
    font-weight: 500;
    line-height: 30px;
}

#contain-preco{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-content: center;
    align-items: center;
}
.preco-desconto{
    color: hsl(158, 36%, 37%);

     /*Configuração da font*/
    font-family: 'Fraunces';
    font-size: 2em;
    font-weight: bolder;
}
.preco-real{
    /*Configuração da font*/
    font-family: 'Montserrat';
    font-weight: 500;
    text-decoration: line-through;
}

#button{
    margin: auto;
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    background-color: hsl(158, 36%, 37%);
    color: #ffffff;
}
#contain-button{
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: stretch;

    font-family:'Montserrat' ;
    font-weight: bolder;
}

.attribution { 
    font-size: 11px; text-align: center;
 }
.attribution a {
     color: hsl(228, 45%, 44%);
 }


 /*Versão para desktop*/

@media screen and (min-width: 1200px) and (max-width:2400px){
    section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        width: 750px;
        height: 500px;
    }

    #mobili{display: none;}/*Bloqueia tamanho de imagem para mobili*/
    #pc{display: block;}/*Habilita tamanho de imagem para pc*/
    img{
        height: 500px;
        border-radius: 20px 0px 0px 20px;
    }

    h2{
        line-height: 35px ;
    }

    #button{
        width: 250px;
    }
}